<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="navbar-collapse">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="auth">Authentification</a></li>
      <li routerLinkActive="active"><a routerLink="appareils">Appareils</a></li>
    </ul>
  </div>
</nav>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <img width="300" style="center" class="m-3" src="https://sm.ign.com/ign_es/screenshot/default/apex-legends-logo_m9s3.jpg">

</div>

<div class="breadcrumb">
  <p>Vous survivez depuis : {{ lastUpdate | async | date: 'short' | uppercase }} </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>