<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <img width="300" style="center" src="https://sm.ign.com/ign_es/screenshot/default/apex-legends-logo_m9s3.jpg">

</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <ul class="list-group">
        <app-appareil  *ngFor="let appareil of appareils"
                       [appareilName]="appareil.name"
                       [ammo]="appareil.status"></app-appareil>
      </ul>

      <button class="btn btn-success"
              [disabled]="!isAuth"
              (click)="onAllumer()">Tout Recharger</button>
    </div>
  </div>
</div>